Django>=5.0,<6.0
djangorestframework
scikit-learn==1.6.1
gunicorn
whitenoise
pandas
numpy
joblib
plotly>=5.15
python-dotenv
dj-database-url

# Visualización
matplotlib
seaborn
plotly

# Otros útiles
requests
